---
layout: default
title: please & thank you
style: home
---

<div class="home">

  <div class="section section-landing">
    <div class="inner">
      <h1>Hey!</h1>
      {% include curve-text.html content="Didn't your mom tell you to say..." id="header-text" %}
    </div>
  </div>

  <div class="section section-hero">
    <h1 class="hero-callout">
      please<br>
      &amp; thank<br>
      you.
    </h1>
  </div>
  <!-- <div class="section section-partners">
    <h2>Our partners</h2>
    <ul>
      <li>Endeavor</li>
      <li>WME</li>
      <li>Logo</li>
      <li>Global</li>
      <li>Sony Music</li>
    </ul>
  </div> -->
  <div id="section-info" class="section section-info">
    <div class="headline">
      <div class="inner">
        <img class="logo-img" src="{{ '/assets/images/logo.png' | relative_url }}" alt="please & thank you">
        <h2 class="co-headline">Nice to meet you.</h2>
        <div class="co-tagline">
          <p>Please & Thank You is a consulting agency specializing in strategic business planning, financial & contract negotiations, profit & loss management, budgeting & cash flow optimization, and process redesign & change management for a portfolio of media & live events based companies.</p>
          <p>Founded in 2020, Please & Thank You is Brought to you by the same folks who brought you Queue, ground(ctrl), and Wonderful Union.</p>
        </div>
        {% include footer.html %}
      </div>
    </div>
    <div class="contact">
      <div class="inner">
        <a href="mailto:hello@plsthk.com">hello@plsthk.com</a>
        {% include curve-text.html content="General Inquiries" id="email-text" %}
      </div>
    </div>
  </div>

</div>
