---
layout: default
title: please & thank you
style: home
---

<div class="home">

  <div class="section section-landing">
    <div class="inner">
      <h1>Hey!</h1>
      {% include curve-text.html content="Didn't your mom tell you to say..." id="header-text" %}
    </div>
  </div>

  <div class="section section-hero">
    <h1 class="hero-callout">
      please<br>
      &amp; thank<br>
      you
    </h1>
  </div>
  <!-- <div class="section section-partners">
    <h2>Our partners</h2>
    <ul>
      <li>Endeavor</li>
      <li>WME</li>
      <li>Logo</li>
      <li>Global</li>
      <li>Sony Music</li>
    </ul>
  </div> -->
  <div class="section section-info">
    <div class="headline">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="please & thank you">
      <h2 class="co-headline">A new company headline.</h2>
      <p class="co-tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum amet, quaerat numquam iure distinctio veniam commodi quis quam molestiae nobis aliquid perferendis atque tempore est ullam? Tempore ipsa doloremque adipisci.</p>
      <div class="newsletter">
        <form action="">
          <input type="text" placeholder="Enter your email for our newsletter">
        </form>
      </div>
      {% include footer.html %}
    </div>
    <div class="contact">
      <div class="inner">
        <a href="mailto:hello@plsthk.com">hello@plsthk.com</a>
        {% include curve-text.html content="General Inquiries" id="email-text" %}
      </div>
    </div>
  </div>

</div>
