---
layout: default
style: home
---

<div class="home">

  <div class="section section-landing">
    <div class="greeting">
      <h1>Yo!</h1>
      {% include curve-text.html content="Didn't your mom tell you to say..." id="header-text" %}
    </div>
  </div>

  <div class="section section-hero">
    <h1 class="hero-callout">
      please<br>
      &amp; thank<br>
      you.
    </h1>
    <div class="hero-background"></div>
  </div>
  <div class="section section-info">
    <div class="headline">
      <div class="inner">
        {% include logo-img.html %}
        <h2 class="co-headline">Nice to meet you.</h2>
        <div class="co-tagline">
          <p>Founded in 2020, Please & Thank You is a consulting agency serving a portfolio of media, technology & live event companies. Specializations include:</p>
          <ul>
            <li>strategic business planning</li>
            <li>financial & contract negotiations</li>
            <li>profit & loss management</li>
            <li>budgeting & cash flow optimization</li>
            <li>process redesign & change management</li>
          </ul>
          <p>Please & Thank You is brought to you by the same team behind Queue (acquired by Eventbrite 2016) & Wonderful Union (acquired by Endeavor 2018).</p>
          <p>Let’s hang out!</p>
        </div>
        {% include footer.html %}
      </div>
    </div>
    <div id="contact" class="contact">
      <div class="contact-info">
        <a href="mailto:hello@plsthk.com">hello@plsthk.com</a>
        {% include curve-text.html content="General Inquiries" id="email-text" %}
      </div>
      <div class="contact-background"></div>
    </div>
  </div>

</div>
