@font-face {
  font-family: 'aeonikregular';
  src: url('/assets/fonts/aeonik-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/aeonik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'aeonikregular_italic';
//   src: url('/assets/fonts/aeonik-regularitalic-webfont.woff2') format('woff2'),
//         url('/assets/fonts/aeonik-regularitalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }


@font-face {
  font-family: 'aeonikmedium';
  src: url('/assets/fonts/aeonik-medium-webfont.woff2') format('woff2'),
        url('/assets/fonts/aeonik-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'aeonikmedium_italic';
//   src: url('/assets/fonts/aeonik-mediumitalic-webfont.woff2') format('woff2'),
//         url('/assets/fonts/aeonik-mediumitalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

@font-face {
  font-family: 'aeonikblack';
  src: url('/assets/fonts/aeonik-black-webfont.woff2') format('woff2'),
        url('/assets/fonts/aeonik-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// @font-face {
//   font-family: 'aeonikblack_italic';
//   src: url('/assets/fonts/aeonik-blackitalic-webfont.woff2') format('woff2'),
//         url('/assets/fonts/aeonik-blackitalic-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }
