<footer class="site-footer">
  <div class="inner">
    <a href="/privacy-policy" class="privacy">Privacy Policy</a>
    <nav class="social-nav">
      <a class="social-nav-item" href="#">TW</a>
      <a class="social-nav-item" href="#">FB</a>
    </nav>
  </div>
  <p class="legal">
    All content copyright &copy; {{ 'now' | date: "%Y" }} Please and Thank You, LLC. Please and Thank You&reg;, Please and Thank You&reg; logo are registered trademarks of Please and Thank you LLC. All Rights Reserved.
  </p>
</footer>
