<footer class="site-footer">
  <div class="newsletter">
    <form action="">
      <input type="text" placeholder="Enter your email for our newsletter">
    </form>
  </div>
  <div class="inner">
    <a href="/privacy-policy" class="privacy">Privacy Policy</a>
    <nav class="social-nav">
      <a class="social-nav-item" href="#" title="Twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a class="social-nav-item" href="#" title="Facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    </nav>
  </div>
  <p class="legal">
    All content copyright &copy; {{ 'now' | date: "%Y" }} Please and Thank You, LLC. Please and Thank You&reg;, Please and Thank You&reg; logo are registered trademarks of Please and Thank you LLC. All Rights Reserved.
  </p>
</footer>
