body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: aeonikregular, sans-serif;
}
em {
  font-family: aeonikregular_italic, sans-serif;
}

strong {
  font-family: aeonikmedium, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: aeonikblack, sans-serif;

  i, em {
    font-family: aeonikblack_italic, sans-serif;
  }
}

a {
  &, &:visited {
    color: var(--linkColor);
  }
  &:hover, &:active {
    color: var(--linkHoverColor);
  }
}

.text-curve {
  overflow: visible;

  text {
    fill: var(--brandPink);
  }
}
