body {
  background-color: var(--brandBlack);
  color: var(--brandWhite);
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.section {
  &-landing {
    display: flex;
    justify-content: center;
    min-height: 40vw;

    .inner {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      max-width: 400px;
      position: relative;
      top: 20%;
    }
    path {
      fill: transparent;
    }
    text {
      fill: var(--brandPink);
      font-size: 2.7em;
    }
    h1 {
      font-size: 10em;
    }
  }
  &-hero {
    background: url(/assets/images/hero.jpg) no-repeat center top/contain;
    height: 210vw;
    position: relative;

    .hero {
      &-callout {
        position: sticky;
        font-size: 10em;
        margin-left: 1em;
        top: 1em;
      }
      &-images {
        img {
          width: 100%;
        }
      }
    }
  }
}
