/* General */
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: aeonikregular, sans-serif;
  max-width: 100vw;
}
// i, em {
//   font-family: aeonikregular_italic, sans-serif;
// }

strong {
  font-family: aeonikmedium, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: aeonikblack, sans-serif;

  // i, em {
  //   font-family: aeonikblack_italic, sans-serif;
  // }
}

a {
  &, &:visited {
    color: var(--linkColor);
  }
  &:hover, &:active {
    color: var(--linkHoverColor);
  }
}

::-webkit-input-placeholder {
  color: var(--textColor);
}
::-moz-placeholder {
  color: var(--textColor);
}
:-ms-input-placeholder {
  color: var(--textColor);
}
:-moz-placeholder {
  color: var(--textColor);
}

/* Reusable */
.paty-logo {
  max-width: 93px;
  width: 100%;

  &-path {
    fill: var(--textColor);
  }
}

.text-curve {
  letter-spacing: 0.1em;
  overflow: visible;

  text {
    fill: var(--brandPink);
  }
}
