.site-header {
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  padding: 2.2em 2.4em 0;
  width: 100%;

  // Transition starting point
  opacity: 0;
  transform: translateY(130px);

  @media (min-width: $breakpoint-md) {
    font-size: 1em;
    padding: 3em 4em 0;
  }
}
