.home {
  position: relative;

  .blind {
    background-color: var(--brandBlack);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .site-header {
    position: absolute;
    z-index: 9;
  }
  @media (min-width: $breakpoint-lg) {
    > .site-footer {
      display: none;
    }
  }
}

.section {
  background-color: var(--backgroundColor);
  position: relative;
  z-index: 1;

  &-landing {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;

    .greeting {
      position: relative;
    }
    h1 {
      font-size: 8em;
    }
    .text-curve {
      bottom: -0.5em;
      font-size: 1.1em;
      position: absolute;
      right: -3.7em;
      width: 9em;
    }
    @media (min-width: $breakpoint-md) {
      h1 {
        font-size: 10.5em;
      }
      .text-curve {
        bottom: -1em;
        right: -5em;
        width: 12em;
      }
    }
  }
  &-hero {
    height: 210vw;
    position: relative;

    .hero {
      &-background {
        height: 100%;
        left: 0;
        position: absolute;
        pointer-events: none;
        top: 0;
        width: 100%;
        z-index: -1;

        source,
        img {
          height: 100%;
          max-width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &-callout {
        display: flex;
        position: sticky;
        font-size: 14vw;
        line-height: 1.15;
        padding: 10vh 0;
        white-space: nowrap;
        top: 0;

        @media (min-width: $breakpoint-lg) {
          font-size: 10em;
        }
        .inner {
          display: flex;
          flex: 0 1 50%;
          justify-content: center;
        }
        h1 {
          font-size: 1em;
          margin: 0 2rem;
        }
      }
      &-images {
        img {
          width: 100%;
        }
      }
    }
  }
  &-partners {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 1em 0;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: 991px) {
      .site-footer {
        display: none;
      }
    }

    .headline,
    .contact {
      flex: 0 0 50%;
    }
    .headline {
      display: flex;
      justify-content: center;

      > .inner {
        margin: 4em 2em 2em;

        @media (min-width: $breakpoint-lg) {
          max-width: 39em;
        }
      }
      .paty-logo {
        margin-bottom: 4em;
      }
    }
    .co {
      &-headline {
        font-size: 2.2em;
      }
      &-tagline {
        line-height: 1.7;
        margin-bottom: 4em;

        ul {
          color: var(--brandPink);
        }
      }
    }
    .contact {
      align-items: center;
      display: flex;
      justify-content: center;
      overflow: hidden;
      padding: 2.8em;
      position: relative;

      @media (min-width: $breakpoint-lg) {
        padding: 1em;
      }
      &-info {
        align-items: center;
        background-color: var(--backgroundColor);
        border-radius: 50%;
        display: flex;
        height: 27em;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 27em;
        font-size: 0.6em;
        z-index: 9;

        @media (min-width: $breakpoint-lg) {
          font-size: 1em;
          height: 27em;
          width: 27em;
        }
      }
      &-background {
        background: var(--brandGradient);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      a {
        font-family: aeonikmedium, sans-serif;
        font-size: 2.4em;
      }
      .text-curve {
        bottom: 2em;
        font-size: 2em;
        right: 2em;
        position: absolute;
        width: 7em;

        @media (min-width: $breakpoint-lg) {
          bottom: 5em;
          font-size: 1em;
          right: 4em;
          width: 12em;
        }
      }
    }
    .site-footer {
      padding: 0;
    }
  }
}
.site-footer {
  position: relative;
  z-index: 9;
}
