.home {
  > footer {
    display: none;
  }
}

.section {
  background-color: var(--backgroundColor);
  position: relative;
  z-index: 1;

  &-landing {
    display: flex;
    justify-content: center;
    // min-height: 40vw;
    min-height: 70vh;

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 400px;
      padding: 0 2em;
      position: fixed;
      top: 20%;
    }
    h1 {
      font-size: 10.5em;
    }
    .text-curve {
      font-size: 1.1em;
      left: 12em;
      letter-spacing: 0.1em;
      position: absolute;
      top: 10em;
      width: 12em;
    }
  }
  &-hero {
    background: var(--backgroundColor) url(/assets/images/hero.jpg) no-repeat center bottom/contain;
    height: 210vw;
    position: relative;

    .hero {
      &-callout {
        position: sticky;
        font-size: 10em;
        margin-left: 1em;
        padding: 1em 0;
        top: 0;
      }
      &-images {
        img {
          width: 100%;
        }
      }
    }
  }
  &-partners {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 1em 0;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;

    .headline,
    .contact {
      flex: 0 0 50%;
    }
    .headline {
      display: flex;
      justify-content: end;

      > .inner {
        margin: 4em 12em 2em 5em;
        max-width: 27em;
      }
      img {
        margin-bottom: 6em;
      }
    }
    .co {
      &-headline {
        font-size: 2.2em;
      }
      &-tagline {
        color: var(--brandPink);
        font-size: 1.2em;
        line-height: 2;
        margin-bottom: 9em;
      }
    }
    .newsletter {
      margin-bottom: 1em;
    }
    .contact {
      align-items: center;
      background: var(--brandGradient);
      display: flex;
      justify-content: center;
      position: relative;

      .inner {
        align-items: center;
        background-color: var(--backgroundColor);
        border-radius: 50%;
        display: flex;
        height: 27em;
        justify-content: center;
        position: relative;
        width: 27em;
      }
      a {
        font-family: aeonikmedium, sans-serif;
        font-size: 2.4em;
      }
      .text-curve {
        font-size: 1em;
        left: 11em;
        letter-spacing: 0.1em;
        position: absolute;
        top: 16em;
        width: 12em;
      }
    }
  }
}
