.home {
  .site-header {
    position: absolute;
    z-index: 9;
  }
  @media (min-width: $breakpoint-lg) {
    > .site-footer {
      display: none;
    }
  }
}

.section {
  background-color: var(--backgroundColor);
  position: relative;
  z-index: 1;

  &-landing {
    display: flex;
    justify-content: center;
    height: 70vh;
    min-height: 22em;

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      top: 22vh;
    }
    h1 {
      font-size: 8em;
    }
    .text-curve {
      bottom: -0.5em;
      font-size: 1.1em;
      position: absolute;
      right: -4em;
      width: 9em;
    }
    @media (min-width: $breakpoint-md) {
      h1 {
        font-size: 10.5em;
      }
      .text-curve {
        bottom: -1em;
        right: -5em;
        width: 12em;
      }
    }
  }
  &-hero {
    background: var(--backgroundColor) url(/assets/images/hero.jpg) no-repeat center bottom/contain;
    height: 210vw;
    position: relative;

    .hero {
      &-callout {
        position: sticky;
        // font-size: 4em;
        font-size: 16vw;
        line-height: 1.15;
        margin-left: 0.8em;
        padding: 1em 0;
        top: 0;

        @media (min-width: $breakpoint-lg) {
          font-size: 10em;
        }
      }
      &-images {
        img {
          width: 100%;
        }
      }
    }
  }
  &-partners {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5em 0;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style-type: none;
      padding: 1em 0;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: 991px) {
      .site-footer {
        display: none;
      }
    }

    .headline,
    .contact {
      flex: 0 0 50%;
    }
    .headline {
      display: flex;
      justify-content: flex-end;

      > .inner {
        margin: 4em 2em 2em;

        @media (min-width: $breakpoint-lg) {
          max-width: 27em;
        }
        @media (min-width: $breakpoint-xl) {
          margin: 4em auto 2em 5em;
        }
        @media (min-width: $breakpoint-xxl) {
          margin: 4em 12em 2em 5em;
        }
      }
      img {
        margin-bottom: 5em;
      }
    }
    .co {
      &-headline {
        font-size: 2.2em;
      }
      &-tagline {
        color: var(--brandPink);
        font-size: 1.2em;
        line-height: 2;
        margin-bottom: 5em;
      }
    }
    .contact {
      align-items: center;
      background: var(--brandGradient);
      display: flex;
      justify-content: center;
      padding: 2.8em;
      position: relative;

      @media (min-width: $breakpoint-lg) {
        padding: 1em;
      }
      .inner {
        align-items: center;
        background-color: var(--backgroundColor);
        border-radius: 50%;
        display: flex;
        height: 27em;
        justify-content: center;
        position: relative;
        width: 27em;
        font-size: 0.6em;

        @media (min-width: $breakpoint-lg) {
          font-size: 1em;
          height: 27em;
          width: 27em;
        }
      }
      a {
        font-family: aeonikmedium, sans-serif;
        font-size: 2.4em;
      }
      .text-curve {
        bottom: 2em;
        font-size: 2em;
        right: 2em;
        position: absolute;
        width: 7em;

        @media (min-width: $breakpoint-lg) {
          bottom: 5em;
          font-size: 1em;
          right: 4em;
          width: 12em;
        }
      }
    }
    .site-footer {
      padding: 0;
    }
  }
}
.site-footer {
  position: relative;
  z-index: 9;
}
