.thank-you {
  .site {
    &-header,
    &-footer {
      display: none;
    }
  }
  .main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }
}

.newsletter-complete {
  position: relative;
  margin-bottom: 7em;

  h1 {
    font-size: 10.5em;
    line-height: 1;
  }
  .text-curve {
    font-size: 1.1em;
    left: 19em;
    position: absolute;
    top: 20em;
    width: 10em;
  }
}
