// Colors
:root {
  --brandWhite: #fff;
  --brandBlueLight: #4c7af8;
  --brandBlueDark: #280696;
  --brandYellow: #f8e54c;
  --brandPink: #f7ccff;
  --brandOrange: #ff5924;
  --brandGray: #464646;
  --brandBlack: #000;
  --brandGradient: linear-gradient(225deg, #f2a685 0%,#f9e44d 50%,#93d19d 100%);

  --backgroundColor: var(--brandBlack);
  --textColor: var(--brandWhite);

  --linkColor: var(--brandWhite);
  --linkHoverColor: var(--brandPink);
}

$breakpoint-xs: 430px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
