// Colors
:root {
  --brandWhite: #fff;
  --brandBlueLight: #4c7af8;
  --brandBlueDark: #280696;
  --brandYellow: #f8e54c;
  --brandPink: #f7ccff;
  --brandOrange: #ff5924;
  --brandGrayLight: #757575;
  --brandGray: #464646;
  --brandBlack: #000;
  --brandGradient: linear-gradient(225deg, #ECADB3 0%, #F89F58 17%, #F9E04D 38%, #F9E64D 52%, #F9E94C 66%, #9CD173 84%, #87D2D7 100%);

  --backgroundColor: var(--brandBlack);
  --textColor: var(--brandWhite);

  --linkColor: var(--brandWhite);
  --linkHoverColor: var(--brandPink);
}

$breakpoint-xs: 430px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
